:root {
    /* Primary */
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-background);
    font-family: 'Inter',
        sans-serif;
    height: 100vh;
    padding: 0 5%;
}

.container {
    background-color: var(--card-background);
    border-radius: 10px;
    text-align: center;
    padding-bottom: 0;
}

.banner {
    background: var(--accent);
    border-radius: 10px 10px 0 0;
}

.banner img {
    object-fit: cover;
    display: block;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.text {
    padding: 40px 30px;
    padding-bottom: 0;
}

.header {
    color: var(--white);
    font-family: 'Lexend Deca',
        sans-serif;
    font-size: 28px;
}

.highlight {
    color: var(--accent);
}

.main-paragraph {
    font-size: 15px;
    color: var(--slightly-transparent-white);
    line-height: 2;
    margin-top: 2em;
    margin-bottom: 0;
}

.stats {
    font-weight: 700;
    color: white;
    font-size: 25px;
    padding-bottom: 30px;
}

.stats .desc {
    font-family: 'Lexend Deca',
        sans-serif;
    font-weight: lighter;
    color: var(--slightly-transparent-white-stat);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.item {
    padding-top: 30px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.padding {
    min-height: 50px;
}

@media (min-width: 500px) {
    .stats {
        display: flex;
        justify-content: space-evenly;
        padding: 1.5em 5em;
    }

    .item {
        padding: 0;
        margin: 0 1em;
    }

    .main-paragraph {
        font-size: 18px;
    }

}

@media (min-height: 1100px) {
    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media(min-width: 1200px) {
   
    body {
       display: flex;
       flex-direction: column;
       justify-content: center;
    }

    .container {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
    }

    .header {
        font-size: 36px;
    }

    .banner {
        border-radius: 0 10px 10px 0;
    }

    .banner img {
        border-radius: 0 10px 10px 0;
    }

    .text {
        width: 50%;
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        /* margin: auto 0; */
        padding: 0 11.25em 0 4.38em;
    }

    .main-paragraph {
        font-size: 15px;
        padding: 0 1em 0 0;
    }

    .stats {
        margin-top: 3em;
        padding: 0;
        justify-content: space-between;
        font-size: 1.5em;
    }

    .item {
        margin: 0 1em 0 0;
    }
}